body,
html {
  margin: 0cm;
  padding: 0;
  font-family: "Share Tech Mono", monospace, "Open Sans";
  scroll-behavior: smooth;
}



body {
  background-color: #36364F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%2336364F' stroke-width='0.8' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cuse fill='%23404056' href='%23s' y='2'/%3E%3Cuse fill='%23404056' href='%23s' x='1' y='2'/%3E%3Cuse fill='%2349495d' href='%23s' x='2' y='2'/%3E%3Cuse fill='%2349495d' href='%23s'/%3E%3Cuse fill='%23525263' href='%23s' x='2'/%3E%3Cuse fill='%23525263' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cg fill='%23595969'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cg fill='%23595969'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cg fill='%2360606e'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cg fill='%2336364F'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23666673'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cg fill='%23FFFD5A'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cg fill='%23FFFD5A'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(42.15) translate(-976.28 -732.21)'%3E%3Cg fill='%23FFFD5A'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

main {
  position: relative;
  min-height: 100vh;
}

header {
  margin-top: 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px) saturate(180%) contrast(220%);
  -webkit-backdrop-filter: blur(10px) saturate(180%) contrast(220%);
  padding: 0.35em;
  margin-top: 0;
  z-index: 1;
  row-gap: 0.15em;
  column-gap: 0.5em;
  color: rgba(255, 255, 255, 0.35);
  font-size: 16px;
}

nav .technologies {
  padding-top: 0.15rem;
  margin: 0;
}

nav a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
}

nav img {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}

.latex {
  width: 48px;
}

nav a:active {
  color: black;
}

header > img {
  margin-top: 4.5em;
  width: 6em;
  border-radius: 1.5em;
  border: 1px solid rgba(228, 198, 198, 0.667);
  backdrop-filter: blur(10px) saturate(180%) contrast(220%);
  -webkit-backdrop-filter: blur(10px) saturate(180%) contrast(220%);
}

header > h1 {
  font-size: 1em;
  font-weight: 700;
  border-radius: 1em;
  border: 1px solid rgba(228, 198, 198, 0.667);
  background-color: rgba(2, 2, 2, 0.85);
  color: rgba(255, 255, 255, 0.7);
  padding: 0.4em 2em;
  backdrop-filter: blur(10px) saturate(180%) contrast(220%);
  -webkit-backdrop-filter: blur(10px) saturate(180%) contrast(220%);
}

header span {
  font-size: 16px;
  font-weight: 400;
}

aside {
  display: flex;
  justify-content: center;
}

iframe {
  border: 1px solid rgba(228, 198, 198, 0.667);
  border-radius: 1em;
  width: 240px;
  height: 120px;
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  max-width: 480px;
  font-weight: 400;
  padding: 0.25em;
  font-size: 14px;
}

ul > li {
  border: 1px solid rgba(228, 198, 198, 0.667);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px) saturate(180%) contrast(220%);
  -webkit-backdrop-filter: blur(10px) saturate(180%) contrast(220%);
  border-radius: 1em;
  margin: 1.25em;
  transition: 0.1s ease-in-out;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

li img {
  width: 32px;
}

.paper {
  width: 70px;
}

li:active {
  background-color: rgba(255, 255, 255, 0.5);
}

footer {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px) saturate(180%) contrast(220%);
  -webkit-backdrop-filter: blur(10px) saturate(180%) contrast(220%);
  padding: 0.25em;
}

footer p {
  color: rgba(255, 255, 255, 0.35);
}
